<%- include('../parties/header.ejs') %>

<section id="notepad">
<div id="pad">
    <div class="heading"><h1><%= locals.date %></h1></div>
    <form action="<%= locals.actreplace %>" method="post" class="input"><input type="text" name="List" id="input" placeholder="New item" required>
    <button >+</button></form>
        
   <form action="<%= locals.actreplace %>" method="post" class="worklist" > 
         <%list.forEach(element => { %>
   <div id="list"><input onChange="this.form.submit()" name="checkbox" type="checkbox" class="cbox4" value="<%= element._id %>"> <label for="cbox4"><%= element.text  %></label></div>
    <% }) %>
  </form>


</div>
</section>

<%- include('../parties/footer.ejs') %>